{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EV Collector</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
</head>
<body class="main_body">
    <header>
    <ul class="nav nav-pills bg-dark border-bottom border-body" data-bs-theme="dark">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}"><h2>Electric Vehicle (EV) Collector</h2></a>
          </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'evs_create' %}">Add an EV!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">View All EVs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Future Content</a>
        </li>
      </ul>
    </header>
    <main class="container">
      {% block content %}
      <div class="main_body"></div>
      <script>
        const dateEl = document.getElementById('id_date');
        // M is Materialize's global variable
        M.Datepicker.init(dateEl, {
          format: 'yyyy-mm-dd',
          defaultDate: new Date(),
          setDefaultDate: true,
          autoClose: true
        });
      </script>
      {% endblock %}
    </main>
    <footer class="page-footer">
        <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/evs">View All EVs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Future Content</a>
            </li>
            <li class="">
             <p class="nav-link">All Rights Reserved, &copy; 2023 EV Collector &nbsp;</p>
            </li>
            </ul>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>